:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --header-color: #212121;
    --description-section-color: #757575;
    --dark-background-color: #2F303A;
    --btn-main-background-color: #F5F4FA;
    --btn-hover-focus-back-color: #2196F3;
}